@model lab6.Models.LabModel

<h2>Лабораторна робота 1</h2>
<p>
    Для зберігання двох агресивних рідин A та B використовується ємність із багатошаровим перегородженням, яке виготовляється з існуючих N аркушів. Для кожного аркуша i (i = 1, …, N) відомий час його розчинення рідиною A — ai та рідиною B — bi. Розчинення перегородження кожної з рідин відбувається послідовно аркуш за аркушем, із постійною швидкістю по товщині аркуша. Потрібно написати програму проектування такого перегородження, час розчинення якого був би максимальним. <br /><br />
    Вхідні дані <br />
    У першому рядку вхідного файлу INPUT.TXT записано число N (1 ≤ N ≤ 256). У кожній з наступних N рядків містяться два додатних дійсних числа ai і bi, розділені пробілом (числа не перевищують 10^6 і складаються не більше ніж із 11 значущих цифр). <br/><br />
    Вихідні дані <br />
    У перший рядок вихідного файлу OUTPUT.TXT записати час розчинення перегородження з точністю, не менше 10^(-3). У наступний рядок файлу записати номера аркушів в порядку їх розташування від рідини A до рідини B, розділяючи числа пробілами.
</p>


<form method="post" enctype="multipart/form-data" asp-controller="Lab1" asp-action="Lab1">
    <div class="row">
        <div class="form-group container mt-2">
            <h4>Вхідні дані:</h4>
            <textarea id="inputText" class="form-control" rows="5" type="text" class="form-control" id="pinput" asp-for="Input"></textarea>
        </div>
        <div class="container mt-2">
            <h4>Результат:</h4>
            <textarea id="outputText" class="form-control" rows="5" readonly>@Model.Output</textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Виконати</button>
</form>