@model lab6.Models.LabModel

<h2>Лабораторна робота 2</h2>
<p>
    Компанія "БрокенТайлс" планує викладання в дворах заможних клієнтів візерунків із чорних та білих плиток, кожна з яких має розмір 1×1 метр. Відомо, що двори всіх заможних людей мають найбільш сучасну на сьогодні форму прямокутника розміром M×N метрів. Однак при складанні фінансового плану у директора цієї організації виникло цілих дві серйозні проблеми: по-перше, кожен новий клієнт очевидно захоче, щоб візерунок, викладений у нього в дворі, відрізнявся від візерунків всіх інших клієнтів цієї фірми, а по-друге, цей візерунок повинен бути привабливим. Як показало дослідження, візерунок є привабливим, якщо в ньому ніде не зустрічається квадрат 2×2 метри, повністю вкритий плитками одного кольору. На рисунку 1 показані приклади різних привабливих візерунків, а на рисунку 2 – непривабливих. Для складання фінансового плану директорові необхідно дізнатися, скільки клієнтів він зможе обслуговувати, перш ніж привабливі візерунки даного розміру закінчаться. Допоможіть йому! <br /><br />
    Вхідні дані <br/>
    У першому рядку вхідного файлу INPUT.TXT розташовані два додаткових цілих числа, розділені пробілом – M та N (1 ≤ M∙N ≤ 30). <br /><br />
    Вихідні дані<br />
    Виведіть у вихідний файл OUTPUT.TXT єдине число – кількість різних привабливих візерунків, які можна викласти в дворі розміром M×N. Візерунки, що отримуються один з одного зсувом, обертанням чи відображенням, вважаються різними.
</p>

<form method="post" enctype="multipart/form-data" asp-controller="Lab2" asp-action="Lab2">
    <div class="row">
        <div class="form-group container mt-2">
            <h4>Вхідні дані:</h4>
            <textarea id="inputText" class="form-control" rows="5" type="text" class="form-control" id="pinput" asp-for="Input"></textarea>
        </div>
        <div class="container mt-2">
            <h4>Результат:</h4>
            <textarea id="outputText" class="form-control" rows="5" readonly>@Model.Output</textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Виконати</button>
</form>