@page
@{
    ViewData["Title"] = "Web App";
}


<h1 class="text-center">Опис</h1>
<h4>
    Веб-додаток для запуску лабораторних робіт. Для використання функціоналу потрібно
    зареєструватись на <a href="http://localhost:5001">сервері ідентифікації</a> та ввійти у
    систему. На сторінках лабораторних робіт можна ознайомитись з завданнями та виконати
    обчислення.
</h4>